version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: tracker-db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: activity_logs
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: